@model IEnumerable<Profile.UI.Models.Profile.FileViewModel>

<!-- Files list -->
@foreach (var file in Model)
{
    <a class="prf-artifact" href="/File/Download/@file.Id" data-file-name="@file.Name">
        <span class="prf-artifact-back">
            <span class="prf-artifact-icon">
                <img src="/images/file-other.png" alt="">
            </span>
        </span>
        <span class="prf-signature">@file.Description</span>
    </a>
}
<!-- end of Files list -->
