<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>Скрам - Новый проект - Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../../images/favicon.jpg" type="image/jpeg">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,500,500italic,700,700italic&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic" rel="stylesheet">  
    <link href="../../Content/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="../../Content/styles.css" rel="stylesheet"> 
    <script src="../../Scripts/jquery-2.1.4.min.js"></script>
    <script src="../../Scripts/bootstrap.min.js"></script> 
</head>
<body>

	<div class="prf-wrapper">
		<header class="prf-main-header">
		  <nav class="navbar navbar-inverse">
		    <div class="container">
		        <div class="navbar-header">
		            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
		                <span class="sr-only">Toggle navigation</span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		            </button>
		            <a class="navbar-brand" href="#">
		              <img src="../../images/logo2_1.png" alt="IT-Academy">
		            </a>
		        </div>

		        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
		            <ul class="nav navbar-nav">
		            </ul>
		            <ul class="nav navbar-nav navbar-right">
		                <li class="dropdown">
		                    <a href="#" class="dropdown-toggle header-avatar" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="../../images/avatar-big.gif" width="45" height="45" alt="User"></a>
		                    <ul class="dropdown-menu">
		                        <li><a href="#">Войти</a></li>
		                    </ul>
		                </li>
		            </ul>
		        </div>
		    </div>
		  </nav>

		</header>

        <div class="container">
            <div class="prf-main">
                <section class="prf-main-content">
                    <section class="prf-main-section scrumNewProject">
                        <div class="row headline">
                            <div class="col-xs-12 pageTitle text-left">
                                <h1 class="title">Новый проект</h1>
                            </div>
                        </div>
                        <div class="projectData">
	                        <div class="row wrapper">
	                        	<div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-0">
	                        		<p>Ваш проект</p>
	                        		<h4>PROFILE.Net</h4>
	                        	</div>
	                        	<div class="col-lg-6 col-md-6 notification visible-lg-block">
	                        		<div class="row">
										<div class="col-lg-2"><span class="infoMark exclamation">!</span></div>
										<div class="col-lg-10">Заполните поля отмеченные <span class="infoMark">*</span> и нажмите <span class="infoMark">Готово</span> Проект будет добавлен в список</div>
	                        		</div>
 	                        	</div>
	                        </div>
	                        <div class="row wrapper">
	                        	<div class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-0 col-xs-6 col-xs-offset-0">
	                        		<p>Начало</p>
	                        		<p class="date">02.09.2016</p>
	                        	</div>
	                        	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
	                        		<p>Конец</p>
	                        		<p class="date">02.12.2017</p>
	                        	</div>
	                        </div>
	                        <div class="row wrapper">
	                        	<div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-0">
	                        		<p>Ваша команда</p>
	                        		<h4>PROF1</h4>
	                        	</div>
	                        </div>
	                        <div class="row wrapper">
	                        	<div class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-0 col-xs-6 col-xs-offset-0">
	                        		<p>Начало</p>
	                        		<p class="date">02.09.2016</p>
	                        	</div>
	                        	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
	                        		<p>Конец</p>
	                        		<p class="date">02.12.2016</p>
	                        	</div>
	                        </div>
	                        <div class="row hidden-lg notificationPdd">
	                        	<div class="col-md-6 col-sm-8 col-xs-8 col-xs-offset-2 col-sm-offset-0 notification">
	                        		<div class="row">
										<div class="col-md-1 col-sm-1 col-xs-1"><span class="infoMark exclamation">!</span></div>
										<div class="col-md-11 col-sm-11 col-xs-11">Заполните поля отмеченные <span class="infoMark">*</span> и нажмите <span class="infoMark">Готово</span> <br>Проект будет добавлен в список</div>
	                        		</div>
 	                        	</div>
	                        </div>
	                    </div> <!-- projectData -->

	                    <form  id="scrumProjectInfo">
		                    <div class="projectDescription blockWrapper">
		                    	<div class="row">
		                    		<div class="col-lg-9 col-lg-offset-1">
		                    			<hr>
		                    		</div>
		                    	</div>
		                        <div class="row">
		                        	<div class="col-lg-9 col-lg-offset-1 wrapper">
		                        		<h4>Описание к проекту:</h4>
		                        	</div>
								</div>
								<div class="row wrapper">
		                        	<div class="col-lg-9 col-lg-offset-1 col-md-9 col-md-offset-0">
										<div class="form-group">
										  <label for="projectShortDescriptio">Краткое описание проекта <span class="infoMark">*</span></label>
										  <textarea class="form-control textField" id="projectShortDescription" name="projectShortDescription" rows="3" maxlength="150" placeholder="" data-inputmask-regex="^[\sа-яА-Яa-zA-Z0-9-+_.,!?:;()\&quot]*$"></textarea>
										</div>
		                        	</div>
		                        </div>
								<div class="row wrapper">
		                        	<div class="col-lg-9 col-lg-offset-1 col-md-9 col-md-offset-0">
										<div class="form-group">
										  <label for="pojectFullDescription">Подробное описание проекта <span class="infoMark">*</span></label>
										  <textarea class="form-control textField" id="pojectFullDescription" name="pojectFullDescription" rows="8" maxlength="1000" placeholder="" data-inputmask-regex="^[\sа-яА-Яa-zA-Z0-9-+_.,!?:;()\&quot]*$"></textarea>
										</div>
		                        	</div>
		                        </div>
		                    </div> <!-- projectDescription -->

		                    <div class="teamDescription">
		                        <div class="row">
		                        	<div class="col-lg-9 col-lg-offset-1 wrapper">
		                        		<h4>Описание команды:</h4>
		                        	</div>
								</div>
								<div class="row wrapper">
		                        	<div class="col-lg-9 col-lg-offset-1 col-md-9 col-md-offset-0">
										<div class="form-group">
										  <label for="teamTask">Цель команды<span class="infoMark">*</span></label>
										  <textarea class="form-control textField" id="teamTask" name="teamTask" rows="2" maxlength="50" placeholder="" data-inputmask-regex="^[\sа-яА-Яa-zA-Z0-9-+_.,!?:;()\&quot]*$"></textarea>
										</div>
		                        	</div>
		                        </div>
								<div class="row wrapper">
		                        	<div class="col-lg-9 col-lg-offset-1 col-md-9 col-md-offset-0">
										<div class="form-group">
										  <label for="teamWorkDesription">Описание работ команды<span class="infoMark">*</span></label>
										  <textarea class="form-control textField" id="teamWorkDesription" name="teamWorkDesription" rows="6" maxlength="600" placeholder="" data-inputmask-regex="^[\sа-яА-Яa-zA-Z0-9-+_.,!?:;()\&quot]*$"></textarea>
										</div>
		                        	</div>
		                        </div> 	
		                    </div><!-- teamDescription -->

		                    <div class="artefacts">
		                        <div class="row">
		                        	<div class="col-lg-10 col-lg-offset-1 wrapper">
		                        		<h4>Артефакты:</h4>
		                        	</div>
								</div>
								<div class="row wrapper">
		                        </div>
		                    </div><!-- artefacts -->

							<div class="row wrapper">
									<div class="col-lg-2 col-lg-offset-9 col-md-2 col-md-offset-9 col-sm-2 col-sm-offset-9 col-xs-4 col-xs-offset-4 text-right">
								    	<button id="saveButton" class="button btn btn-default saveButton">Готово</button>
						    		</div>
							</div> 
						</form><!-- projectInfo -->

						<div class="modal fade col-sm-4 confirmationPopup"  id="readyConfirm" style="margin:0 auto;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						    <div class="modal-dialog" role="document">
						        <div class="modal-content">
						            <div class="modal-header">
						                <button type="button" class="close close_modal"  aria-label="Close"><span >&times;</span></button>
						                <h4 class="modal-title" id="myModalLabel">Добавить проект в общий список проектов? Вы сможете редактировать свой проект после добавления.</h4>
						            </div>
						            <div class="modal-footer">
						                <button type="button" class="btn btn-default close_modal">Нет</button>
						                <button type="button" class="btn btn-primary submit_btn">Да</button>
						            </div>
						        </div>
						    </div>
						</div><!-- confirmationPopup -->

                    </section><!-- prf-main-section scrumNewProject -->
                </section><!-- prf-main-content -->
            </div><!-- prf-main -->
        </div><!-- container -->









<!-- 	    <div class="prf-main-footer">
	        <div class="container">
	            <div class="row"><p>&copy; 2016 - Образовательный центр Парка высоких технологий</p></div>
	        </div>
	    </div> -->
	</div>
	<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
	<script src="../../Scripts/mask.js"></script>		
	<script src="../../Scripts/Custom/scrumNewProject.js"></script>
	
</body>
</html>