<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>Главная - Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../images/favicon.jpg" type="image/jpeg">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,500,500italic,700,700italic&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic" rel="stylesheet">  
    <link href="../Content/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="../Content/styles.css" rel="stylesheet">
    <script src="../Scripts/jquery-2.1.4.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script> 
</head>
<body>

	<div class="prf-wrapper">
		<header class="prf-main-header">
		  <nav class="navbar navbar-inverse">
		    <div class="container">
		        <div class="navbar-header">
		            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
		                <span class="sr-only">Toggle navigation</span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		            </button>
		            <a class="navbar-brand" href="#">
		              <img src="../images/logo2_1.png" alt="IT-Academy">
		            </a>
		        </div>

		        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
		            <ul class="nav navbar-nav">
		            </ul>
		            <ul class="nav navbar-nav navbar-right">
		                <li class="dropdown">
		                    <a href="#" class="dropdown-toggle header-avatar" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="../images/avatar-big.gif" width="45" height="45" alt="User"></a>
		                    <ul class="dropdown-menu">
		                        <li><a href="#">Войти</a></li>
		                    </ul>
		                </li>
		            </ul>
		        </div>
		    </div>
		  </nav>
		</header>

        <div class="container">
            <div class="prf-main">
                <section class="prf-main-content">
                    <section class="prf-main-section homePage">
                    <div class="row wrap">
                    	<div class="col-xs-6">
                    		<p><span class="number">6</span> проектов сейчас находится в разработке</p>
                    	</div>
                    	<div class="col-xs-6">
                    		<p><span class="number">42</span> Стажера сейчас проходят практику в ОЦ ПВТ</p>
                    	</div>
                    </div>
                    <div class="row">
                    	<div class="col-xs-6">
                    		<a href="" class="button listlink">Перейти к списку Проектов</a>
                    	</div>
                    	<div class="col-xs-6">
                    		<a href="" class="button listlink">Перейти к списку Стажеров</a>
                    	</div>
                    </div> 
                    <div class="row wrap">
                    	<div class="col-xs-6"><img src="../images/homepage-1.png" class="img-responsive"></div>
                    	<div class="col-xs-6"><img src="../images/homepage-2.png" class="img-responsive"></div>
                    </div>

                    <div class="row wrap">
                    	<div class="col-md-8 col-sm-12 allCoures">
                    		<p>Со всеми курсами ОЦ ПВТ вы можете ознакомиться на нашем сайте:</p>
                    	</div>
                    	<div class="col-md-3 col-sm-6 col-sm-offset-3 col-lg-offset-0 col-md-offset-0 col-xs-8 col-xs-offset-2">
                    		<a href="http://www.it-academy.by/catalog" class="button listlink">КАТАЛОГ КУРСОВ IT-Academy</a> 
                    	</div>
                    </div>
                       
                    </section><!-- prf-main-section passwordRecovery -->
                </section><!-- prf-main-content -->
            </div><!-- prf-main -->
        </div><!-- container -->









	    <div class="prf-main-footer">
	        <div class="container">
	            <div class="row"><p>&copy; 2016 - Образовательный центр Парка высоких технологий</p></div>
	        </div>
	        
	    </div>
	</div>
	<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
	<script src="../Scripts/Custom/PasswordRecoveryValidation.js"></script>	

</body>
</html>