<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Проекты - Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="images/favicon.jpg" type="image/jpeg">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic" rel="stylesheet"> 
    <link href="../../Content/bootstrap.min.css" rel="stylesheet">
    <link href="../../Content/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    
</head>
<body>
    <div class="prf-wrapper">
        <header class="prf-main-header">
          <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                      <img src="../../images/logo2_1.png" alt="IT-Academy">
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Мои стажеры</a></li>
                        <li class="prf-first-line"><a href="#">Проекты</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle header-avatar" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="../../images/avatar-big.gif" width="45" height="45" alt="User"></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Контактные данные</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Мои стажеры</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Выйти</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
          </nav>        
        </header>
        <form class="container" id="changesData">
            <div class="row">
                <div class="col-lg-12 pageTitle">
                    <h1 class="text-center">Личные данные</h1>
                </div>
            </div>
            <div class="row infoPlace">
                <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-10 col-xs-offset-1 mentorPhoto">
                    <img id="truePhoto" src="../../images/tn.jpg" alt="">
                    
                </div>
                <div class="col-sm-8 col-sm-offset-0 col-xs-10 col-xs-offset-1 mentorName">

                    <label>
                        <input class="infoInput" type="text" data-inputmask-regex="[а-яА-Я'-]([\s]?[а-яА-Я'-]){0,49}" maxlength="50" tabindex="1" id="mentorName" value="ян агеенко апврапрв апврапрв папи апии парв" disabled="disabled">
                    </label>
                    <div class="prof"><span>UI & UX design</span></div>

                    <div>
                        <label tabindex="2" class="photoBut">
                            
                            <i class="fa fa-arrow-down" aria-hidden="true"></i>
                            <input id="loadPhoto" name="newPhoto" type="file">
                            <span>Загрузить фото</span>
                            <b class="error"></b>
                            <button id="loadPhotoButton" data-toggle="modal" data-target="#myModal"></button>
                        </label>
                        <label tabindex="3" class="photoBut">
                            <input type="hidden" id="metorId" value=@Model.Id />
                            <i class="fa fa-ban" aria-hidden="true"></i>
                            <input id="removePhoto" name="deletePhoto" type="hidden">
                            <input id="removePhotoPath" type="hidden" value=@Model.ProfilePhotoPath>
                            <span>Удалить фото</span> 
                            <button id="removePhotoButton" data-toggle="modal" data-target="#myModal"></button>                
                        </label>
                    </div>                    
                </div>
            </div>
            <div class="row infoPlace">
                <div class="col-sm-5 col-xs-10 col-xs-offset-1 mentorContact disabled">
                    <label class="row">
                        <span class="correct">Teлефон</span>
                        <i class="fa fa-phone fa-2x col-lg-2 col-md-2 col-sm-2 col-xs-2"></i>
                        <input type="text"  tabindex="4" id="phone" class="col-lg-10 col-md-10 col-sm-10 col-xs-10 infoInput" maxlength="15" disabled="disabled" value="8-029-123-45-67">
                    </label>
                    <label class="row">
                        <span class="correct">Email</span>
                        <i class="fa fa-envelope fa-2x col-lg-2 col-md-2 col-sm-2 col-xs-2"></i>
                        <input type="text"  tabindex="5" id="email" class="col-lg-10 col-md-10 col-sm-10 col-xs-10 infoInput" disabled="disabled" data-inputmask-regex="[\S]{0,40}" value="example@email.com" maxlength="40">
                    </label>
                    <label class="row">
                        <span class="correct">Skype</span>
                        <i class="fa fa-skype fa-2x col-lg-2 col-md-2 col-sm-2 col-xs-2"></i>
                        <input type="text"  tabindex="6" id="skype" class="col-lg-10 col-md-10 col-sm-10 col-xs-10 infoInput" data-inputmask-regex="[a-zA-Z]+(.{0,40})" disabled="disabled" value="" maxlength="30">
                    </label>
                    <label class="row">
                        <span class="correct">Linkedin</span>
                        <i class="fa fa-linkedin-square fa-2x col-lg-2 col-md-2 col-sm-2 col-xs-2"></i>
                        <input type="text"  tabindex="7" id="linkedin" class="col-lg-10 col-md-10 col-sm-10 col-xs-10 infoInput" disabled="disabled" data-inputmask-regex="[\S]{0,30}" value="linkedin.com/123456" maxlength="30">
                    </label>
                </div>
                <div class="col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2 col-xs-10 col-xs-offset-1 mentorChange">
                    <span class="button" id="change">Редактировать данные</span>
                    <button class="button" data-toggle="modal" data-target="#myModal" id="cancelFromEdit">Отмена</button>
                    <button id="saveChanges" data-toggle="modal" data-target="#myModal" class="button disabled">Сохранить</button>                  
                </div>
            </div>
        </form>

        <div class="prf-main-footer">
            <div class="container">
                <div class="row"><p>&copy; 2016 - Образовательный центр Парка высоких технологий</p></div>
            </div>
            
        </div>
    </div>

    <div class="modal fade" id="modalScrum" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
          </div>
          <div class="modal-body">
            <p></p>
          </div>
          <div class="modal-footer">
            <button type="button" id="notSaveChanges" class="btn btn-default" data-dismiss="modal">Нет</button>
            <button type="button" id="saveChangesModal" class="btn btn-primary">Да</button>
          </div>
        </div>
      </div>
    </div>

    <script src="../../Scripts/jquery-2.1.4.min.js"></script>
    <script src="../../Scripts/bootstrap.min.js"></script> 
    <script src="../../Scripts/jquery.inputmask.bundle.min.js"></script>
    <script src="../../Scripts/Custom/mentorEdit.js"></script>
</body>
</html>