<section class="prf-main-section" id="SMreview">
	<div class="row SMinfo">
		<div class="col-sm-2 col-xs-6 reviewBy"><span>Отзыв оставил:</span></div>
		<div class="col-sm-3 col-xs-6 name"><span>Ермолицкий Алексей</span></div>
		<!-- <div class="col-xs-7 position"><span>Scrum Master</span></div> -->
	</div>
	<div class="row">
		<div class="col-sm-10 col-xs-9 col-xs-offset-1">
		<p class="reviewText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim fuga at delectus natus exercitationem porro laudantium dolores doloribus, excepturi accusantium dignissimos, cumque cupiditate rerum, non molestias eveniet provident officia tenetur, nobis suscipit. Debitis, ab. Similique numquam accusamus praesentium iusto nam iure eligendi inventore pariatur expedita, voluptate repudiandae modi fuga, sint necessitatibus ratione deleniti architecto quae ad aspernatur ex explicabo. Autem nemo recusandae distinctio adipisci, doloremque odit dolorem vel suscipit minima, illo cumque beatae quidem reiciendis totam excepturi voluptate id, sequi molestiae eum itaque necessitatibus animi repellendus ducimus? Itaque, voluptatem praesentium magni quos veritatis dolorum consectetur nam, quod omnis quis, excepturi.</p>
		</div>
		<div class="col-xs-1">
			<div class="markBox text-center">5</div>
		</div>

	</div>
</section>
				