<ul class="row skillsTabs">
    <li class="skillTab active"><a href="#teamreview&skill1">Навык1</a></li>
    <li class="skillTab"><a href="#teamreview&skill2">Навык2</a></li>
    <li class="skillTab"><a href="#teamreview&skill3">Навык3</a></li>
    <li class="skillTab"><a href="#teamreview&skill4">Навык4</a></li>
    <li class="skillTab"><a href="#teamreview&skill5">Навык6</a></li>
    <li class="skillTab"><a href="#teamreview&skill6">Навык7</a></li>
    <li class="skillTab"><a href="#teamreview&skill7">Навык8</a></li>
    <li class="skillTab"><a href="#teamreview&skill8">Навык5</a></li>
    <li class="skillNav"><a href="#teamreview&skill9"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
    <li class="skillNav"><a href="#teamreview&skill10"><i class="fa fa-minus" aria-hidden="true"></i></a></li>
</ul>
<table id="skill1" class="row skillReviewList">
    <caption>
        <p class="col-sm-11 col-xs-12" col-sm-offset-1><span>Длинное описание важного основного навыка</span></p>
    </caption>
    <tr>
        <td class="col-xs-1 counter">1</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>4</span></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">2</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>4</span></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">3</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>5</span></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">4</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>1</span></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">5</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>2</span></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">6</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>3</span></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">7</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>4</span></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">8</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>4</span></td>
    </tr>
</table>
<table id="skill2" class="row skillReviewList">
    <caption>
        <p class="col-sm-11 col-xs-12" col-sm-offset-1><span>Длинное описание важного основного навыка</span></p>
    </caption>
    <tr>
        <td class="col-xs-1 counter">1</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>4</span></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">2</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>4</span></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">3</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>5</span></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">4</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>1</span></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">5</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>2</span></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">6</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>3</span></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">7</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>4</span></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">8</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>4</span></td>
    </tr>
</table>
<table id="skill3" class="row skillReviewList">
    <caption>
        <p class="col-sm-11 col-xs-12" col-sm-offset-1><span>Длинное описание важного основного навыка</span></p>
    </caption>
    <tr>
        <td class="col-xs-1 counter">1</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>4</span></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">2</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>4</span></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">3</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>5</span></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">4</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>1</span></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">5</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>2</span></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">6</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>3</span></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">7</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>4</span></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">8</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>4</span></td>
    </tr>
</table>
<table id="skill4" class="row skillReviewList">
    <caption>
        <p class="col-sm-11 col-xs-12" col-sm-offset-1><span>Длинное описание важного основного навыка</span></p>
    </caption>
    <tr>
        <td class="col-xs-1 counter">1</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>4</span></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">2</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>4</span></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">3</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>5</span></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">4</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>1</span></td>
    </tr>
</table>
<table id="skill5" class="row skillReviewList">
    <caption>
        <p class="col-sm-11 col-xs-12" col-sm-offset-1><span>Длинное описание важного основного навыка</span></p>
    </caption>
    <tr>
        <td class="col-xs-1 counter">1</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>4</span></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">2</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>4</span></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">3</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>5</span></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">4</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>1</span></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">5</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>2</span></td>
    </tr>
</table>
<table id="skill6" class="row skillReviewList">
    <caption>
        <p class="col-sm-11 col-xs-12" col-sm-offset-1><span>Длинное описание важного основного навыка</span></p>
    </caption>
    <tr>
        <td class="col-xs-1 counter">1</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>4</span></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">2</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>4</span></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">3</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>5</span></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">4</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>1</span></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">5</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>2</span></td>
    </tr>
</table>
<table id="skill7" class="row skillReviewList">
    <caption>
        <p class="col-sm-11 col-xs-12" col-sm-offset-1><span>Длинное описание важного основного навыка</span></p>
    </caption>
    <tr>
        <td class="col-xs-1 counter">1</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>4</span></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">2</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>4</span></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">3</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>5</span></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">4</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>1</span></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">5</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>2</span></td>
    </tr>
</table>
<table id="skill8" class="row skillReviewList">
    <caption>
        <p class="col-sm-11 col-xs-12" col-sm-offset-1><span>Длинное описание важного основного навыка</span></p>
    </caption>
    <tr>
        <td class="col-xs-1 counter">1</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>4</span></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">2</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>4</span></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">3</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>5</span></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">4</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>1</span></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">5</td>
        <td class="col-xs-10 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
        <td class="col-xs-1 mark"><span>2</span></td>
    </tr>
</table>
<table id="skill9" class="row skillReviewList">
    <caption>
        <p class="col-xs-12" col-sm-offset-1><span>Длинное описание важного основного навыка</span></p>
    </caption>
    <tr>
        <td class="col-xs-1 counter">1</td>
        <td class="col-xs-11 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">2</td>
        <td class="col-xs-11 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">3</td>
        <td class="col-xs-11 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">4</td>
        <td class="col-xs-11 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">5</td>
        <td class="col-xs-11 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
    </tr>
</table>
<table id="skill10" class="row skillReviewList">
    <caption>
        <p class="col-xs-12" col-sm-offset-1><span>Длинное описание важного основного навыка</span></p>
    </caption>
    <tr>
        <td class="col-xs-1 counter">1</td>
        <td class="col-xs-11 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">2</td>
        <td class="col-xs-11 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">3</td>
        <td class="col-xs-11 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">4</td>
        <td class="col-xs-11 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
    </tr>
    <tr>
        <td class="col-xs-1 counter">5</td>
        <td class="col-xs-11 reviewItem"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium nemo rerum hic laboriosam vitae ut aut reiciendis quam, iure enim modi tenetur illum sit architecto, odio omnis eum? Quisquam!</p></td>
    </tr>
</table>