@model Profile.UI.Models.Profile.PositionViewModel

<h5>Желаемая должность</h5>
<div class="prf-info">@Html.DisplayFor(model => model.DesirablePosition)</div>
<div class="prf-info">@Html.DisplayFor(model => model.ExperienceAtITLab)</div>
<div class="prf-info">@Html.DisplayFor(model => model.ProfessionalPurposes)</div>