@model Profile.UI.Models.Profile.JobViewModel

<h5>Опыт работы</h5>
<div class="prf-info">@Html.DisplayFor(model => model.CurrentWork)</div>
<div class="prf-info">@Html.DisplayFor(model => model.CurrentPosition)</div>
<div class="prf-info">@Html.DisplayFor(model => model.EmploymentDuration)</div>
<div class="prf-info">@Html.DisplayFor(model => model.JobDuties)</div>