@model Profile.UI.Models.Profile.QualificationViewModel

<div class="prf-long-text">
    <div class="prf-info">
        @Html.DisplayFor(model => model.Strengths)
    </div>
</div>
<div class="prf-long-text">
    <div class="prf-info">
        @Html.DisplayFor(model => model.Weaknesses)
    </div>
</div>