@{
    ViewBag.Title = "Восстановление пароля - Profile";
}

<div class="container">
    <div class="prf-main">
        <section class="prf-main-content">
            <section class="prf-main-section passwordRecoveryMail">
                <div class="row headline">
                    <div class="col-xs-4 col-xs-offset-2 pageTitle text-left">
                        <h1 class="title">Восстановление пароля</h1>
                    </div>
                </div>

                <div class="row wrap">
                    <div class="col-xs-3 col-xs-offset-2">
                        <p class="text-left">Введите адрес электронной почты, связанный с вашей учетной записью, и ссылка для восстановления будет выслана на него</p>
                    </div>
                    <div class="col-xs-2">
                        <img src="../images/email-icon.png">
                    </div>
                </div>

                <form id="emailForPassRec">
                    <div class="row wrap">
                        <div class="col-xs-5 col-xs-offset-2">
                            <div class="form-group">
                                <input class="form-control" name="email" id="InputEmail" placeholder="E-mail">
                            </div>
                        </div>
                    </div>
                    <div class="row wrap">
                        <div class="col-xs-5 col-xs-offset-2 text-left">
                            <button id="saveButton" class="button btn btn-default saveButton">Готово</button>
                        </div>
                    </div>
                </form>
                <div class="modal fade col-sm-4 confirmationPopup" id="okConfirm" style="margin:0 auto;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Письмо было успешно отправлено</h4>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary ok_btn_modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div><!-- confirmationPopup -->
                <div class="modal fade col-sm-4 confirmationPopup" id="errorConfirm" style="margin:0 auto;">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Такого адреса не существует. Повторите попытку</h4>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary ok_btn_modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div><!-- confirmationPopup -->
            </section><!-- prf-main-section passwordRecovery -->
        </section><!-- prf-main-content -->
    </div><!-- prf-main -->
</div><!-- container -->

@section Scripts {
    @Scripts.Render("~/bundles/forgot-password")
}