    <li class="panelGroup projectListItem">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title"><a class="projectButton" href="#collapse1" data-hash="teamson" data-toggle="collapse">project1</a></div>
            </div>
            <ul id="collapse1" class="panel-collapse collapse teams">
                <li class="panel-body teamItem">
                    <a href="#teamson"><i class="material-icons">keyboard_arrow_right</i> team1</a>
                </li>
                <li class="panel-body teamItem">
                    <a href="#teamson"><i class="material-icons">keyboard_arrow_right</i> team2</a>
                </li>
                <li class="panel-body teamItem">
                    <a href="#teamson"><i class="material-icons">keyboard_arrow_right</i> team3</a>
                </li>
                <li class="panel-body teamItem">
                    <a href="#teamson"><i class="material-icons">keyboard_arrow_right</i> team4</a>

                </li>
                <li>
                    <div class="addTeam"><span class="openPopup" data-popupClass="addTeam" href="#"><i class="material-icons">add</i> Добавить команду</span></div>
                </li>
            </ul>
        </div>
    </li>
    <li class="panelGroup projectListItem">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title"><a class="projectButton" href="#collapse2" data-hash="id=team4Json" data-toggle="collapse">project2</a></div>
            </div>
            <ul id="collapse2" class="panel-collapse collapse teams">
                <li class="panel-body teamItem">
                    <a href="#id=team4Json"><i class="material-icons">keyboard_arrow_right</i> team1</a>
                </li>
                <li class="panel-body teamItem">
                    <a href="#id=team2Json"><i class="material-icons">keyboard_arrow_right</i> team2</a>
                </li>
                <li class="panel-body teamItem">
                    <a href="#id=team3Json"><i class="material-icons">keyboard_arrow_right</i> team3</a>
                </li>
                <li class="panel-body teamItem">
                    <a href="#id=teamJson"><i class="material-icons">keyboard_arrow_right</i> team4</a>

                </li>
                <li>
                    <div class="addTeam"><span class="openPopup" data-popupClass="addTeam" href="#"><i class="material-icons">add</i> Добавить команду</span></div>
                </li>
            </ul>
        </div>
    </li>
    <li class="panelGroup projectListItem">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title"><a class="projectButton" href="#collapse3" data-toggle="collapse" data-hash="first">project3</a></div>
            </div>
            <ul id="collapse3" class="panel-collapse collapse teams">
                <li class="panel-body teamItem">
                    <a href="#first"><i class="material-icons">keyboard_arrow_right</i> team1</a>
                </li>
                <li class="panel-body teamItem">
                    <a href="#"><i class="material-icons">keyboard_arrow_right</i> team2</a>
                </li>
                <li class="panel-body teamItem">
                    <a href="#"><i class="material-icons">keyboard_arrow_right</i> team3</a>
                </li>
                <li class="panel-body teamItem">
                    <a href="#"><i class="material-icons">keyboard_arrow_right</i> team4</a>

                </li>
                <li>
                    <div class="addTeam"><span class="openPopup" data-popupClass="addTeam" href="#"><i class="material-icons">add</i> Добавить команду</span></div>
                </li>
            </ul>
        </div>
    </li>
    <li class="panelGroup projectListItem">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title"><a class="projectButton" href="#collapse4" data-toggle="collapse" data-hash="fffirst">project4</a></div>
            </div>
            <ul id="collapse4" class="panel-collapse collapse teams">
                <li class="panel-body teamItem">
                    <a href="#fffirst"><i class="material-icons">keyboard_arrow_right</i> team1</a>
                </li>
                <li class="panel-body teamItem">
                    <a href="#"><i class="material-icons">keyboard_arrow_right</i> team2</a>
                </li>
                <li class="panel-body teamItem">
                    <a href="#"><i class="material-icons">keyboard_arrow_right</i> team3</a>
                </li>
                <li class="panel-body teamItem">
                    <a href="#"><i class="material-icons">keyboard_arrow_right</i> team4</a>

                </li>
                <li>
                    <div class="addTeam"><span class="openPopup" data-popupClass="addTeam"><i class="material-icons">add</i> Добавить команду</span></div>
                </li>
            </ul>
        </div>
    </li>