.jira-issue {
    line-height: 12px;
    background: #ccc;
    border: 1px solid #ccc;
    border-radius: 3px;

    border: 1px solid #ccc;
    border-radius: 3px;

    font-family: Arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    margin: auto;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    max-width: 100px;
}

.status-yellow {
    background-color: #ffd351;
    border-color: #ffd351;
    color: #594300;
}

.status-blue-gray {
    background-color: #4a6785;
    border-color: #4a6785;
    color: #fff;
}

.status-green {
    background-color: #14892c;
    border-color: #14892c;
    color: #fff;
}

.status-medium-gray {
    background-color: #ccc;
    border-color: #ccc;
    color: #333;
}

.status-brown {
    background-color:#815b3a;
    border-color:#815b3a;
    color:#fff
}

.status-warm-red {
    background-color:#d04437;
    border-color:#d04437;
    color:#fff
}